# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
node_modules/

# Typings for TypeScript
typings/

# dotenv environment variables file
.env
.env.test

# OS metadata
.DS_Store
Thumbs.db
.idea/
.vscode/

# Built ts files
lib/

# Built next files
.next/